*{
    margin: 0;
    padding: 0;
    font-family: monospace
}
body{
    background-color: #262626;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding-top: 100px;
}
.numbers{
    text-align: center;
    margin-top: 80px;
}
.numbers input{
    width: 220px;
    height: 50px;
    outline: none;
    border-radius: 20px;
    padding:0 20px 0 20px;
    border: 2px solid #1ABC9C;
    background: none;
    color: #1ABC9C;
    transition: all ease .3s
}
.numbers input:first-child{
    margin-right: 20px;
}
.operators{
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 2rem;
    margin-top: 20px;
}
.operators button{
    color: #1ABC9C;
    background: none;
    outline: none;
    border: 2px solid #1ABC9C;
    border-radius: 13px;
    width: 46px;
    height: 46px;
    transition: all ease .3s; 
    font-size: 1rem;
    box-shadow: 0px 5px 16px #000;
}
.operators button:hover{
    border-color: #1ABC9C;
    color: #fff;
    background: #1ABC9C;
    transform: translateY(3px);
    box-shadow: 0px 0px 0px #000;
}
.numbers input:hover{
    border-color: #1ABC9C;
    color: #f1f1f1;
}
.answer{
    text-align: center;
    margin-top: 30px;
}
#answerplace{
    text-align: center;
    color: #1ABC9C;
}
@media screen and (max-width: 600px){
    .numbers{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .numbers input:first-child{
        margin: 0 0 10px 0;
    }
}
